<!DOCTYPE html>

<html>

<head>
</head>

<body>

<%= form_tag(accounts_path, :method => 'get', id: 'search-form') do %>
<%= text_field_tag :search, params[:search], placeholder: 'account id' %>
<%= submit_tag 'Find Account' %>
<% end %>

</body>
